<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <div>
        <h2>Orders</h2>
        <ol>
            {% for order in orders %}
                <li>
                    <p>
                        <b>OrderID: </b> {{order.id}}
                    </p>
                    <p>
                        <b>Customer Name: </b> {{order.customer.first_name}}
                    </p>
                    <p><b>OrderItems</b></p>
                    <ul>
                        {% for orderItem in order.orderitem_set.all %}
                            <li>
                                <p>
                                    <b>Product Name: </b> {{orderItem.product.title}}
                                </p>
                                <b>Unit Price: </b> {{orderItem.unit_price}}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>